<h1>Welcome to Flatiron's Adopt-A-Pup</h1>


<p><%= link_to image_tag("https://www.petfoodindustry.com/ext/resources/Images-by-month-year/16_10/dog-donation-charity.jpg", :size => "260x180" ), new_donation_path%></p>
<p> Please Make A Donation Above </p>

<p><%= link_to "Sign Up", new_user_path %></p>

<p><%= link_to "Newsfeed", posts_path %></p>

