<h1>Welcome <%= @user.name %></h1>

<p><img src= <%= "#{@user.user_img_url}" %> alt="Alt Picture" width="350" ></p>

<p><%= link_to "Edit Account", edit_user_path %></p>

<p><%= link_to "Make a Donation", new_donation_path %></p>

