<h1> Thank You for Your Donation </h1>
<h6 style="text-align:center">You donated <%="$#{@donation.donation_amount}"%> on <%= "#{@donation.date}" %>. </h6>
<p style="text-align:center"><%= [image_tag("cartoon/cartoon_dog_2.png", width: '500px' ),image_tag("cartoon/cartoon_dog_3.png", width: '500px' ),image_tag("cartoon/cartoon_dog_4.png", width: '500px' )].sample %></p>
<p style="text-align:center"><%= link_to "Back", user_path(@donation.user) %></p>

