<h1> Thank You for Your Donation </h1>

<p> You donated <%= "$#{@donation.donation_amount}"%> on <%= "#{@donation.date}" %>. </p>

<p><img src= <%= "https://www.furrypartners.com/images/P/35880.jpg" %> alt="Alt Picture" width="350" ></p>