<h1>Newsfeed</h1>
<p><%= link_to 'Create New Post', new_post_path %></p></br>

<p><% @posts.each do |post| %></p>

    <h3 style="text-align:center"><%= link_to post.post_title, post_path(post) %></h3>

    <p style="text-align:center"><img src= <%= "#{post.post_img_url}" %> alt="Alt Picture" width="350" ></p></br>

<% end %>

