body {
    margin: 0;
    background-color: lavenderblush;
  }
  
  .content {
    margin: 10px auto;
    width: 70%;
  }
  
  .clearfix {
    overflow: hidden;
  }

  h1{
      font-size:45px;
      font-weight: bold;
      font-family: Chalkduster;
      color: navy;
      text-transform: uppercase;
      text-align: center; 
  }
